<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>892459168367-8aj8egdno9ra17m2u7oe815ls9t6q7l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892459168367-8aj8egdno9ra17m2u7oe815ls9t6q7l1</string>
	<key>API_KEY</key>
	<string>AIzaSyCkdi4as5MlNf_-KzSORxYPNtOPylvyBMw</string>
	<key>GCM_SENDER_ID</key>
	<string>892459168367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Coconut-Productions.TradeApp-Teachers</string>
	<key>PROJECT_ID</key>
	<string>tradeapp-d3eab</string>
	<key>STORAGE_BUCKET</key>
	<string>tradeapp-d3eab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:892459168367:ios:2d413177008229e1</string>
	<key>DATABASE_URL</key>
	<string>https://tradeapp-d3eab.firebaseio.com</string>
</dict>
</plist>